
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Refuge.Model.Survey.Survey

@using (Html.BeginForm("AddSurvey", "Survey", FormMethod.Post))
{
    <div class="card border-secondary mb-3">
        <div class="card-header">Personal Information</div>
        <div class="card-body text-dark">
            <div class="form-group">
                @Html.LabelFor(x => x.Name, "Name")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Phone, "Phone Number")
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email, "Email Address")
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Address, "Home Address")
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">Background Information</div>
        <div class="card-body text-dark">
            <div class="form-group">
                @Html.LabelFor(x => x.CountryOfOrigin, "Country of Origin")
                @Html.TextBoxFor(x => x.CountryOfOrigin, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.DateOfArrivalInUS, "Phone Number")
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @type="date" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Language, "Native Language")
                @Html.TextBoxFor(x => x.Language, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.LevelOfEnglish, "Level of English")
                @Html.DropDownListFor(x => x.LevelOfEnglish, 
                    Html.GetEnumSelectList(typeof(Refuge.Model.Enums.LevelOfEnglish)), 
                    new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Religion, "Religion")
                @Html.TextBoxFor(x => x.Religion, new { @class = "form-control" })
            </div>
            
        </div>
    </div>

    <div class="card border-secondary mb-3">
        <div class="card-header">Refuge Services</div>
        <div class="card-body text-dark">
            <div class="form-group">
                @Html.LabelFor(x => x.ServicesInterestedIn, "Services Interested In")
                @Html.DropDownListFor(x => x.ServicesInterestedIn,
                    Html.GetEnumSelectList(typeof(Refuge.Model.Enums.RefugeServices)), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Notes, "Additional Information")
                @Html.TextAreaFor(x => x.Notes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.OkayToContactAboutRefugeActivities, 
                    "It is Okay to contact about refuge specific events and services")
                @Html.CheckBoxFor(x => x.OkayToContactAboutRefugeActivities, new { @class = "form-control" })
            </div>
        </div>
    </div>
}

